@use 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;

  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Lato', 'Roboto', sans-serif;
  font-size: 13px;
  color: variables.$white-color;
}

.header {
  position: fixed;

  width: 100%;
  padding: 32px 0;

  background-color: rgba(16, 16, 29, 0.9);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.site-name {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
  text-transform: uppercase;

  &__domain {
    color: #42A9ED;
  }
}

.navigation__ul {
  display: flex;
  column-gap: 3.8rem;

  &-item {
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;

    transition: all 0.3s ease-in-out;

    &.current,
    &:hover {
      color: #43ABF0;
    }
  }
}

.section__banner {
  display: flex;
  align-items: center;
  min-height: 850px;

  color: #000000;

  background-size: cover;
  background-image: url('/source/images/banner.jpg');
  background-repeat: no-repeat;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &-text {
    font-size: 20px;
    line-height: 100%;
  }

  &-ul {
    li {
      display: flex;
      gap: 10px;
      margin-bottom: 5px;
      padding-left: 10px;

      &::before {
        content: '-';
      }
    }
  }

  &-buttons {
    display: flex;
    gap: 2rem;
  }
}

.h1 {
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;

  &_blue {
    color: #3E9CDC;
  }
}

.f-700 {
  font-weight: 700;
}

.button {
  min-width: 183px;
  padding: 15px;

  font-family: 'Lato';
  line-height: 100%;
  text-transform: uppercase;

  border-radius: 4px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.button_blue {
  color: variables.$white-color;

  background-color: #3E9CDC;
  border: 1px solid variables.$white-color;
}

.button_white {
  background-color: variables.$white-color;
  border: 1px solid #6F6D7B;
}
